.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.btn {
	background-color: transparent;
	color: #b9b9b966;
	outline: none;
	border: none;
	font-size: 32px;
	line-height: 32px;
}

.btn_active {
	color: var(--white-color);
}
