.bg {
	position: relative;
	z-index: 2;
}

.bgImage {
	display: block;
	position: absolute;
	width: 365px;
	height: 360px;
	top: 8%;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: -1;
}

.coins {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin-bottom: 31px;
}

.coins_img {
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 1;
}

.coins_text {
	font-weight: 600;
	font-size: 32px;
	line-height: 22px;
	letter-spacing: -0.41px;
}

.info {
	max-width: 375px;
	margin: 0 auto 18px;
}

.energy {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

.energy_img {
	width: 14px;
	height: 24px;
}

.energy_text {
	font-weight: 600;
	font-size: 14px;
	line-height: 19.2px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
	margin-bottom: 10px;
}

.boost {
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 118px;
	width: 100%;
	padding: 8px;
	background-color: #ffffff0f;
	border-radius: 10px;
}

.boost_img {
	width: 20px;
	height: 20px;
}

.boost_text {
	font-weight: 600;
	font-size: 14px;
	line-height: 16.8px;
}
