.sheet {
	display: flex;
	padding: 10px;
	border-radius: 16px;
}

.dark {
	background-color: var(--bg-dark-color);
}

.lighter {
	background-color: var(--bg-color);
}

.row {
	justify-content: space-between;
	align-items: center;
}

.column {
	flex-direction: column;
}
