.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.pagination_item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	border-radius: 13px;
	cursor: pointer;
}

.pagination_item-circle {
	width: 8px;
	height: 8px;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 13px;
	transition: all 0.3s;
}

.pagination_item-active {
	height: 16px;
	width: 16px;

	background-color: var(--purple-color);
}

.pagination_item-active .pagination_item-circle {
	background-color: var(--white-color);
}
