.increase {
	width: 100%;
	padding: 10px;
	background: #ffffff0f;
	border-radius: 16px;
	margin-bottom: 10px;
}

.increase_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.increase_text {
	margin-bottom: 2px;
}

.users {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
