.img {
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: -20%;
	left: 50%;
	transform: translate(-50%);
}

.title {
	margin-bottom: 30px;
}

.text {
	max-width: 295px;
	text-align: center;
	margin: 0 auto 30px;
}

.btn {
	width: 100%;
	margin-bottom: 10px;
}

.row {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.input {
	width: 100%;
	max-width: 270px;
	height: 56px;
}

.btn {
	max-width: 56px;
	height: 56px;
	padding: 0;
}
