.circle {
	width: 100%;
	height: 397px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: circleUp;
}

.circle svg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: none;
}

.pulse {
	stroke: var(--purple-color);
}

.pulse_one {
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: pulseOne;
}

.pulse_two {
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: pulseTwo;
}

.pulse_three {
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: pulseThree;
}

.circle_item {
	fill: var(--purple-color);
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: circleAnimations;
}

@keyframes circleUp {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.07);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes pulseOne {
	0% {
		stroke-opacity: 0;
	}

	50% {
		stroke-opacity: 0.2;
	}

	100% {
		stroke-opacity: 0;
	}
}

@keyframes pulseTwo {
	0% {
		stroke-opacity: 0;
	}

	50% {
		stroke-opacity: 0.3;
	}

	100% {
		stroke-opacity: 0;
	}
}

@keyframes pulseThree {
	0% {
		stroke-opacity: 0;
	}

	50% {
		stroke-opacity: 0.5;
	}

	100% {
		stroke-opacity: 0;
	}
}

@keyframes circleAnimations {
	0% {
		fill-opacity: 0.6;
	}

	50% {
		fill-opacity: 1;
	}
	100% {
		fill-opacity: 0.6;
	}
}
