:root {
	--bg-color: #101010;
	--bg-dark-color: #34143f;
	--white-color: #fff;
	--gray-color: #b9b9b9;
	--purple-color: #b344be;
}

html,
body,
#root {
	height: 100%;
}

body {
	font-family: Gilroy, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	line-height: 22px;
	background: var(--bg-color);
	color: var(--white-color);
	overflow-x: hidden;
	user-select: none;
}
