.img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	position: absolute;
	top: -20%;
	left: 50%;
	transform: translateX(-50%);
}

.tilte {
	margin-bottom: 20px;
}

.description {
	max-width: 295px;
	text-align: center;
	margin: 0 auto 20px;
}

.profit {
	max-width: 170px;
	display: flex;
	align-items: center;
	gap: 4px;
	margin: 0 auto 20px;
}

.profit {
	display: flex;
	align-items: center;
	gap: 4px;
}

.profit_img {
	width: 20px;
	height: 20px;
}
